.footer {
    background-color: #232f3e;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  .footer__section {
    flex: 1;
  }
  
  .footer__sectionTitle {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .footer__list {
    list-style: none;
    padding: 0;
  }
  
  .footer__item {
    margin-bottom: 5px;
  }
  
  .footer__item:hover {
    text-decoration: underline;
  }
  